<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('../partials/head-admin'); %>
</head>
<body>
    <header>
        <%- include('../partials/header-admin'); %>
    </header>

    <main class="container-fluid row mt-5">
        <section class="col col-lg-8">
            <div class="container">
                <div class="py-5">
                    <h3 class="display-5 text-center">Edit Business Contact List</h3>
                    <a href="/contact-list" class="btn btn-primary">Back to All</a>
                    <br/>

                    <% if(locals.book) { %>

                        <form action="/books/<%= book._id %>" method="post" class="shadow p-5 my-5">
                            <p class="text-muted">ID: <%= book._id %></p>
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" placeholder="Title" value="<%= book.title %>" required>
                            </div>
                        
                            <div class="form-group">
                                <label for="author">Author</label>
                                <input type="text" name="author" class="form-control" id="author" placeholder="Author Name" value="<%= book.author %>" required>
                            </div>
                        
                            <div class="form-group">
                                <label for="pages">Pages</label>
                                <input type="number" name="pages" class="form-control" id="pages" placeholder="Number of Pages" value="<%= book.pages %>"  required>
                            </div>
                        
                            <div class="form-group">
                                <label for="isbn">ISBN</label>
                                <input type="text" name="isbn" class="form-control" id="isbn" placeholder="ISBN" value="<%= book.isbn %>"  required>
                            </div>
                            
                            <% if(locals.message) { %>
                                <div class="alert alert-danger" role="alert"><%= message %></div>
                            <% } %>
        
                            <br/>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">
                                Update
                            </button>
                        </form>

                    <% } %>

                </div>
            </div>
        </section>
        
        <aside class="col col-lg-4">
            <%- include('../partials/sidebar'); %>
        </aside>
    </main>

<footer>
    <%- include('../partials/footer-admin'); %>
</footer>

<%- include('../partials/scripts-admin'); %>

</body>
</html>
