<!DOCTYPE html>
<html lang="en">
<head>
    <title>Business Contact List Section</title>
    <%- include('partials/head-admin'); %>
</head>
<body>
    <header>
        <%- include('partials/header-admin'); %>
    </header>

    <main class="container-fluid row mt-5">
        <section class="col col-lg-8">
            <div class="container">
                <div class="py-5">
                    <h3 class="display-4 text-center">Business Contact List</h3>

                    <div class="row">
                        <div class="col col-lg-6">
                            <h1>List</h1>
                        </div>

                        <div class="col col-lg-6">
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
        <aside class="col col-lg-4">
            <%- include('partials/sidebar'); %>
        </aside>
    </main>


<footer>
    <%- include('partials/footer-admin'); %>
</footer>

<%- include('partials/scripts-admin'); %>

</body>
</html>
